body {
    font-family: 'Raleway', sans-serif;
    background-color: #F0FFF0;
    text-align: center; 
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: black;
    position: fixed; 
    top: 0; 
    width: 100%;
    display: flex;
    justify-content: center;
}

#navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
}

#name {
    margin-top: 5rem;
}

#external_links * {
    text-decoration: none;
    padding: 1rem;
}

#skills{
    margin: 0 auto;
    width: 50%;
}

table {
    margin-left:auto; 
    margin-right:auto;
    width: 100%;
    padding: 1rem;
    border-style: hidden;
    text-align: left;
    border: 1px solid black;
}

.section{
    margin: 0 auto;
    width: 50%;
}

.section_entry{
    display: flex;
    justify-content: space-between;
}

.section_description{
    text-align: left;
}

/* #education{
    margin: 0 auto;
    width: 50%;
}

#experience{
    margin: 0 auto;
    width: 50%;
}

#projects{
    margin: 0 auto;
    width: 50%;
} */

/* #education_entry{
    display: flex;
    justify-content: space-between;
}

#experience_entry{
    display: flex;
    justify-content: space-between;
}

#projects_entry{
    display: flex;
    justify-content: space-between;
} */

/* #experience_description{
    text-align: left;
} */